spring:
  mvc:
    pathmatch:
      matching-strategy: ant-path-matcher
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/saramin
    username: root
    password: 1234
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

  server:
    address: 0.0.0.0
    port: 8080

jwt:
  secret: EE31F6B4308522E4F01BF583E6DFDC1CA1A3DDF953837C913B15E1CE98A170F7
  token-validity-in-seconds: 86400

logging:
  level:
    root: INFO
    com.example.saramin: INFO
    org.springframework.security: DEBUG
    org.springframework: INFO
    org.springframework.web: DEBUG
